@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
      .container{
        height: 110vh;
      }
      .card{
        height: 110vh;
      }
     }
@media screen and (max-width:400px) {
    .container{
        height: 120vh;
      }
      .card{
        height: 120vh;
      }
}
@media screen and (max-width:350px) {
  .container{
      height: 120vh;
    }
    .card{
      height: 120vh;
    }
}
@media screen and (max-width:300px) {
  .container{
      height: 115vh;
    }
    .card{
      height: 115vh;
    }
}
@media screen and (max-width:250px) {
  .container{
      height: 110vh;
    }
    .card{
      height: 110vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .container{
    height: 90vh;
  }
  .card{
    height: 90vh;
  }
}
@media only screen and(min-width:1000px){
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125vh;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  }
  
  .card {
    position: relative;
    background: #333;
    width: 400px;
    height: 125vh;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}
